<div class="text-center">
    <h2="text-center">{{title}}</h2>
        <p>{{{get_emoji}}}</p>
        <p>{{content}}</p>
        <p>Created by {{user.username}} on {{format_date date_created}}</p>
        <p>
            <i class="material-icons d-inline-block align-top" style="font-size:60px;color:blue;">comment</i>
        <div class="dollar-amount">Created By: {{user.username}}</div>

        </p>

        <form class="form new-comment-form">
            <div class="form-group">
                <label for="comment">Comments:</label>
                {{!-- grab new comment input in a new comment or blog.js in public/js --}}
                <input class="form-input" type="text" id="comment" name="comment" />
            </div>
        </form>
        {{#each comments as |comment|}}
        <div class="card">
            <div class="card-header">
                Comment
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{comment.comment}}</p>
                    <footer class="blockquote-footer">User: <cite title="Source Title">{{username}}</cite></footer>
                </blockquote>
            </div>
        </div>
        {{/each}}
        {{!--
</div>
{{#each comments as |comment|}}
{{comment.comment}}
{{/each}}
</div> --}}

{{!-- {{#each blogs as |blog|}} --}}
{{!-- <section class="card"> --}}
    {{!-- {{comments.comment}} --}}
    {{!-- <a href="/comments/{{id}}"> --}}
        {{!-- {{#each comments as |comment|}}
        {{comment}}
        {{/each}} --}}

        {{!-- </a> --}}
    {{!-- </section> --}}
{{!-- {{/each}} --}}

<script src="/js/blog.js"></script>